#main-content {
    background: white;
    min-height: 800px;
    margin: 0;
    padding: 10px 0 0 0;
}

#side-menu {
    padding: 0;
    #links-list {
        margin-top: 20px;
        padding: 0;
        font-size: 14px;
        font-size: 14rem;

        a {
            display: block;
            padding: 15px 15px;
            margin: 2px 0;
        }

        li {
            min-width: 195px;
            max-width: 195px;
        }

        li, li a {
            color: black;
            text-decoration: none;
        }

        li:hover {
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            background-color: $navbarColor;
        }
        li:hover a, li:hover i {
            color: white;
        }
    }
}